.left{
    padding-top: 60px;
    float:left;
    width: 200px;
    padding-bottom: 3000px;
    margin-bottom: -3000px;
    background-color: blue;
    margin-right:20px;
    text-align: center;
}
.contain{
    overflow:hidden;
}
.right{
    padding-left:220px;
}
.name{
    font-size:36px;
    color: white
}